* {
    box-sizing: border-box;
}

.felix-actually-centered {
    text-align: center;
}

.felix-logo-banner {
    background-image: url(../img/felix-banner.png);
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 382px;
}

.felix-first-issue-cover {
    margin-left: auto;
    margin-right: auto;
    width: 20em;
}


.felix-bump-up {
    margin-top: -30px;
}

.felix-line-above {
    border-top: 1px solid #aaa;
}


.felix-want-to-help-wrapper {
    padding-bottom: 1.2em;
    padding-top:0.8em;
    text-align: center;
}

.felix-email-field-wrapper {
    border: 1px solid black;
    position: relative;
    height: 2em;
    overflow: hidden;
}
.felix-email-field {
    border: none;
    font-size: 1.5em;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 2em;
}
.felix-email-field-button {
    font-size: 1.5em;
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
}
.js .felix-email-field-button {
    right: -10%;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.felix-email-field-wrapper.entered .felix-email-field-button, .felix-email-field-wrapper.focused .felix-email-field-button {
    right: 0;
    opacity: 1;
}

.felix-email-field-button, .felix-email-field {
    transition: all 0.2s ease-out;
}

.felix-email-field-wrapper.disabled *, .felix-email-field-wrapper.disabled {
    background-color: #ddd;
    color: #666;
}
.succeeded .felix-email-field-wrapper *, .succeeded .felix-email-field-wrapper {
    background-color: #dfd;
    color: #6a6;
}

.weekly-digest-message {
    width: 100%;
    padding: 0.6em;
    opacity: 0;
    transition: all 0.2s ease-out;
    display: none;
}

#weekly-digest-error {
    background-color: #fdd;
    border: 2px solid #f33;
}
#weekly-digest.errored #weekly-digest-error {
    display: block;
    opacity: 1;
}
#weekly-digest-success {
    background-color: #dfd;
    border: 2px solid #3f3;
}
#weekly-digest.succeeded #weekly-digest-success {
    opacity: 1;
}
#weekly-digest.succeeded.done #weekly-digest-success {
    opacity: 0;
}
